body#layout {
  background: #f4f4f5;
  padding-top: 24px !important;
  width: 95%;
  max-width: 1400px;
  margin: auto;
}

.bs-area {
  padding: 16px;


  &__clearfix {
    display: block;
    clear: both;
  }

  &__wrapper {
    background: #fff;
    padding: 1rem;
    margin: 16px;
    margin-top: 0;
    border: 1px solid #e4e4e7;
    border-radius: 0.25rem;
    position: relative;
  }

  .add_widget {
    border-radius: 4px !important;
  }

  .add_widget a {
    color: #3f3f46 !important;
    font-weight: 700;
    text-decoration: none;
  }

  .add_widget a:hover {
    color: #18181b !important;
  }

  .section {
    overflow: visible !important;
    background-color: transparent !important;
    border: 1px solid #e4e4e7 !important;
    border-radius: 4px !important;

    >h4 {
      margin-left: 0 !important;
    }
  }

  .widget-content {
    border-radius: 4px !important;
    background: #fff;
    height: auto !important;
  }

  .widget,
  .widget .widget-wrap1,
  .widget .widget-wrap2,
  .widget .widget-wrap3 {
    border-radius: 4px !important;
  }

  .widget.locked-widget,
  .widget .widget-wrap1,
  .widget .widget-wrap2,
  .widget .widget-wrap3 {
    border-radius: 0 !important;
  }

  .draggable-widget .widget-wrap3 {
    background: #f4f4f5 url(https://www.gstatic.com/images/icons/material/system/1x/drag_indicator_grey600_24dp.png) no-repeat 9px center !important;
    padding-left: 42px;
    margin-left: 0 !important;
  }

  .visibility .editlink.icon {
    width: 32px !important;
    height: 32px !important;
    top: 12px !important;
    background: #f4f4f5;
    padding: 4px;
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/mode_edit_grey600_24dp.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }

}

// Area layout
@import './layout/upper';
@import './layout/main';