<b:includable id='bs:menu.setLink'>
  <b:if cond='contains(data:href, "{") and contains(data:href, "}")'>
    <b:with var='link' expr:value='data:href'>
      <a expr:href='data:link.href ?: "#"'>
        <b:eval expr='data:link.name ?: data:name'/></a>
    </b:with>
  <b:else/>
    <a expr:href='data:href'><data:name/></a>
  </b:if>
</b:includable>

<b:includable id='bs:menu.setName'>
  <b:if cond='contains(data:href, "{") and contains(data:href, "}")'>
    <b:with var='link' expr:value='data:href'>
      <a expr:href='data:link.href ?: "#"'>
        <data:link.name/></a>
    </b:with>
  </b:if>
</b:includable>

<b:includable id='bs:menu'>
  <nav class="menu">
    <ul>
      <b:loop var='menu' values='data:links'>
        <b:if cond='data:menu.name == "sbm"'>
          &lt;li>
          <b:include name='bs:menu.setName' data='{ href: data:menu.target, name: data:menu.name }' />
          &lt;ul class="menu-child">
        <b:elseif cond='data:menu.name == "_sbm"'/>
          &lt;/ul>
          &lt;/li>
        <b:else/>
          <li>
            <b:include name='bs:menu.setLink' data='{ href: data:menu.target, name: data:menu.name }' />
          </li>
        </b:if>
      </b:loop>
    </ul>
  </nav>
</b:includable>