<b:includable id='commentPicker' var='post'>
  <b:include data='post' name='threadedComments' />
</b:includable>

<b:includable id='commentsTitle'>
  <h3 class='comments__title'>
    <data:messages.comments />
  </h3>
</b:includable>


<b:includable id='commentFormIframeSrc' var='post'>
  <a expr:href='data:post.commentFormIframeSrc' id='comment-editor-src' />
</b:includable>

<b:includable id='threadedCommentForm' var='post'>
  <div class='comment-form'>
    <a name='comment-form' />
    <b:include data='post' name='commentFormIframeSrc' />
    <iframe allowtransparency='allowtransparency' class='blogger-iframe-colorize blogger-comment-from-post'
      expr:height='data:cmtIframeInitialHeight ?: "90px"' frameborder='0' id='comment-editor'
      name='comment-editor' src='' width='100%' />
    <data:post.cmtfpIframe />
    <script type='text/javascript'>BLOG_CMT_createIframe('<data:post.appRpcRelayPath />');</script>
  </div>
</b:includable>

<b:includable id='threadedCommentJs' var='post'>
  <script type='text/javascript' async='async' expr:src='data:post.commentSrc'></script>
  <b:template-script inline='true' name='threaded_comments' />
  <script type='text/javascript'>
    blogger.widgets.blog.initThreadedComments(<data:post.commentJso />,<data:post.commentMsgs />, <data:post.commentConfig />);
  </script>
</b:includable>

<b:includable id='threadedComments' var='post'>
  <section id='comments' class='comments threaded' expr:data-embed='data:post.embedCommentForm' expr:data-num-comments='data:post.numberOfComments'>
    <a name='comments' />

    <b:include name='commentsTitle' />

    <div class='comments-content'>
      <b:if cond='data:post.embedCommentForm'>
        <b:include data='post' name='threadedCommentJs' />
      </b:if>
      <div id='comment-holder'>
        <data:post.commentHtml />
      </div>
    </div>

    <p class='comment-footer'>
      <b:if cond='data:post.allowNewComments'>
        <b:class name='allow-new-comments' />
        <b:include data='post' name='threadedCommentForm' />
        <b:else />
        <data:post.noNewCommentsText />
      </b:if>
      <b:if cond='data:post.showManageComments'>
        <b:include data='post' name='manageComments' />
      </b:if>
    </p>

    <b:if cond='data:showCmtPopup'>
      <div id='comment-popup'>
        <iframe allowtransparency='allowtransparency' frameborder='0' id='comment-actions' name='comment-actions'
          scrolling='no'>
        </iframe>
      </div>
    </b:if>
  </section>
</b:includable>