<footer class='footer'>
  <p class='copyrights'>
    Developed and designed by <a href="https://www.karasu-themes.com/" property="cc:attributionName" rel="nofollow" target="_blank">Karasu themes</a> © 2024 - Powered by <a href="https://www.blogger.com/">blogger</a>
  </p>
</footer>