<b:includable id='@card.image'>
  <div class="card__thumbnail">
    <a expr:href='data:post.url'>      
      <b:include name='@image' data='{ 
        src: data:post.featuredImage,
        imageSize: data:skin.vars.i_resize,
        imageParams: data:skin.vars.i_params,
        imageRatio: data:skin.vars.i_ratio
      }' />
    </a>
  </div>
</b:includable>

<b:includable id='@card.snippet'>
  <p class="card__snippets">
    <data:post.snippets.short/>
  </p>
</b:includable>

<b:includable id='@card.meta'>
  <footer class="card__meta">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round"><circle cx="12" cy="8" r="5"/><path d="M20 21a8 8 0 0 0-16 0"/></svg> <data:post.author.name/>
    </span>
    <time>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock"><circle cx="12" cy="12" r="10"/><polyline points="12 6 12 12 16 14"/></svg> <data:post.date/>
    </time>
  </footer>
</b:includable>

<b:includable id='@card'>
  <article class='card'>
    <b:include name='@card.image' cond='data:post.featuredImage and data:skin.vars.c_showThumbnail' />
    <div class='card__body'>
      <header class='card__header'>
        <h2 class='card__title'><a expr:href='data:post.url' expr:title='data:post.title'><data:post.title/></a></h2>
      </header>
      <b:include name='@card.snippet' cond='data:skin.vars.c_showSnippet' />
      <b:include name='@card.meta' cond='data:skin.vars.c_showMeta' />
    </div>
  </article>
</b:includable>