<b:includable id='widget-title'>
  <b:if cond='data:title'>
    <h3 class='widget__title'><data:title/></h3>
  </b:if>
</b:includable>

<%# 
Includable: @body-class
Description: Add a css class name for determine the type of the current page. Also added the post and blog ID
How to use:
  <div>
    <b:include name='@body-class'/>
  </div>
%>
<b:includable id='@body-class'>
  <b:class cond='data:view.isHomepage' name='home-page' />
  <b:class cond='data:view.isPost' name='article-page' />
  <b:class cond='data:view.isPage' name='page' />
  <b:class cond='data:view.isMultipleItems' name='items-page' />
  <b:class cond='data:view.isSearch' name='search-page' />
  <b:class cond='data:view.isArchive' name='archive-page' />
  <b:class cond='data:view.isError' name='error-page' />
  <b:attr cond='data:view.isPost' name='data-post-id' expr:value='data:post.id' />
  <b:attr cond='data:view.isPage' name='data-page-id' expr:value='data:post.id' />
  <b:attr name='data-blog-id' expr:value='data:blog.blogId' />
</b:includable>

<%# 
Includable: @widget-class 
Description: Add a css class name for determine the current Area and section of de the widget
%>
<b:includable id='@widget-class'>
  <b:attr name='class' value='' />
  <b:class name='widget' />
  <b:class expr:name='"widget-" + data:widget.sectionId + ""' />
  <b:class expr:name='"area-" + data:widget.sectionId + ""' />
</b:includable>

<%# 
<u:alert/>
@className {String} CSS class name
@content {String}
%>
<b:includable id='@alert'>
  <div>
    <b:class cond='data:className' expr:name='data:className ?: "alert"'/>
    <b:eval expr='data:content'/>
  </div>
</b:includable>

<b:includable id='@image'>
  <b:if cond='data:src'>
    <b:with var='dimg' value='{
      isLazy: (data:lazy ?: false),
      w: (data:src.width ?: "100%"),
      h: (data:src.height ?: "100%"),
      alt: (data:alt ?: data:messages.image),
      imgParams: ("-" + data:imageParams),
      img: resizeImage(data:src, data:imageSize, data:imageRatio),
      isAImage: contains(data:src, "blogger.googleusercontent.com/img/a/") }'>

      <b:tag name='img' expr:alt='data:dimg.alt ?: data:messages.image'>
        <b:attr name='src' expr:value='(data:dimg.isAImage ? (data:dimg.img + data:dimg.imgParams) : data:dimg.img)'/>
      </b:tag>

    </b:with>
    <b:else/>
    <img expr:src='data:skin.vars.i_default ?: "#no-image-url"' />
  </b:if>
</b:includable>

<%#  %>
<b:includable id='@headline'>
  <div class='bs-headline'>
    <h2 class='bs-headline__title'><b:eval expr='data:text ?: data:messages.recentPosts'/></h2>
  </div>
</b:includable>