// MENU
.menu {
  gap: rem(16);
  display: none;

  &-wrapper {
    @include query(lg) {
      margin-top: rem(32);
    }
  }

  a {
    font-weight: $weight-700;
    display: block;
    transition: all $duration-200 ease-out;
  }

  // Mobile
  @include max-query(lg) {
    position: absolute;
    left: rem(16);
    top: 0;
    background-color: var(--wrapper-color);
    padding: rem(16);
    border-radius: $radius-sm;
    box-shadow: 0 6px 12px rgba(#000, .1);
    max-width: rem(240);

    &.is-visible {
      display: block;
    }

    a {
      display: block;
      padding: rem(12) rem(16);
      white-space: nowrap;
      border-radius: $radius-md;

      &:hover {
        background-color: var(--light-color-100);
      }
    }
  }

  // Desktop
  @include query(lg) {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      padding: 0 rem(16);
      line-height: rem(42);
      height: rem(42);
      font-size: $text-lg;
      border-radius: $radius-md;

      &:hover {
        background-color: var(--light-color-100);
      }
    }
  }
}