.blog-pager {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(16);
  margin-top: rem(32);

  a {
    display: block;
    line-height: 1;
    padding: rem(12) rem(16);
    background-color: var(--light-color-100);
    border-radius: $radius-sm;
    font-size: $text-sm;
    font-weight: $weight-500;
    transition: all $duration-200 ease-in-out;

    &:hover {
      background-color: var(--primary-color);
      color: #fff;
    }
  }
}