.bs-aside {
  .widget {

    &__title {
      font-size: $text-2xl;
      margin-bottom: rem(16);
    }

    &:not(:last-child) {
      margin-bottom: rem(48);
    }

    @at-root [data-theme="dark"] & {
      background-color: var(--wrapper-color);
      padding: rem(16);
      border-radius: $radius-md;
    }
  }
}