@use 'sass:color';

// Prefer color scheme: light
:root {
    /*! Colors */
    --primary-color: #{$primary-color};
    --primary-color-rgb: #{color.red($primary-color)}, #{color.green($primary-color)}, #{color.blue($primary-color)};
    --secondary-color: #{$secondary-color};
    --body-color: #{$body-color};
    --wrapper-color: #{$wrapper-color};
    --text-color: #{$text-color};
    --text-color-rgb: #{color.red($text-color)}, #{color.green($text-color)}, #{color.blue($text-color)};
    --light-color-100: #{$light-color-100};
    --light-color: #{$light-color};

    /*! Typography */
    --bs-global-font: #{$base-font};
    --bs-logo-font: #{$logo-font};
    --bs-titles-font: #{$titles-font};

    /*! Layout */
    --bs-gap: 42px;
    --bs-aside: 360px;
}

// Prefer color scheme: dark
[data-theme=dark] {
  /*! Colors */
  $primary-color: #8384d8;
  --primary-color: #{$primary-color};
  --primary-color-rgb: #{color.red($primary-color)}, #{color.green($primary-color)}, #{color.blue($primary-color)};
  --secondary-color: #{$secondary-color};
  --body-color: #202328;
  --wrapper-color: #2f3238;
  --text-color: #e7e7e7;
  --text-color-rgb: #{color.red(#e7e7e7)}, #{color.green(#e7e7e7)}, #{color.blue(#e7e7e7)};
  --light-color-100: #383a40;
  --light-color: #4c4f56;
}