<b:defaultmarkup type='Header'>
  <b:includable id='main'>
    <b:include name='@widget-class' data='{ className: "logo-wrapper" }' />
    <b:class name='logo-wrapper' />
    <div class="logo">
      <% if (demoMode){ %>
        <h1 class="logo__text"><a expr:href="data:blog.homepageUrl" class="logo__link">Blogger<span>/base</span></a></h1>
      <% } else { %>
        <h1 class="logo__text"><a expr:href="data:blog.homepageUrl" class="logo__link"><data:blog.title /></a></h1>
      <% } %>
    </div>
    <p class="logo-description">
      <data:description/>
    </p>
  </b:includable>
</b:defaultmarkup>