<b:defaultmarkup type='PageList'>
<b:includable id='main'>
  <b:include name='@widget-class' />
  <b:class name='menu-wrapper' />
  <b:if cond='contains(["hder"], data:widget.sectionId)'>
    <nav class="menu">
      <b:loop var='link' values='data:links'>
        <a expr:href='data:link.href'>
          <b:class cond='data:isCurrentPage' name='is-current-page' />
          <data:link.title/></a>
      </b:loop>
    </nav>
  <b:else/>
    <p class="alert">This widget is not compatible with section</p>
  </b:if>
</b:includable>
</b:defaultmarkup>