:root {
    /*! Colors */
    --primary-color: $(c.primary);
    --primary-color-rgb: $(c.primary.red), $(c.primary.green), $(c.primary.blue);
    --body-color: $(c.body);
    --wrapper-color: $(c.wrapper);
    --text-color: $(c.text);
    --text-color-rgb: $(c.text.red), $(c.text.green), $(c.text.blue);
    --light-color: $(c.light);
    --light-color-100: $(c.light.soft);

    /*! Typography */
    --bs-global-font: $(f.base.family), 'Roboto';
    --bs-logo-font: $(f.logo.family), 'Roboto';

    /*! Layout */
    --bs-gap: 42px;
    --bs-aside: 360px;
}

[data-theme=dark] {
  /*! Colors */
  --primary-color: $(dc.primary);
  --primary-color-rgb: $(dc.primary.red), $(dc.primary.green), $(dc.primary.blue);
  --body-color: $(dc.body);
  --wrapper-color: $(dc.wrapper);
  --text-color: $(dc.text);
  --text-color-rgb: $(dc.text.red), $(dc.text.green), $(dc.text.blue);
  --light-color: $(dc.light);
  --light-color-100: $(dc.light.soft);
}