<%#
Post
@version 1.0
@since 2.0.0
Estos datos se aplicarán únicamente en las entradas individuales de blogger:
- Entradas
- Páginas
%>
<b:class name='post' />
<%# Post header#START _%>
<header class='post__header'>
  <%# Post labels _%>
  <div class="post__labels">
    <b:loop var='label' values='data:post.labels'>
      <a expr:href='data:label.url' expr:title='data:label.name'><data:label.name/></a>
    </b:loop>
  </div>

  <%# Post title _%>
  <h1 class='post__title'><data:post.title/></h1>
  
  <%# Post meta (User, post date) _%>
  <b:if cond='data:skin.vars.m_showMeta'>    
    <div class="post__meta">
      <b:if cond='data:skin.vars.m_showUserMeta'>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round"><circle cx="12" cy="8" r="5"/><path d="M20 21a8 8 0 0 0-16 0"/></svg> <data:post.author.name/>
        </span>
      </b:if>
      <b:if cond='data:skin.vars.m_showDateMeta'>
        <time expr:datetime='data:post.date.iso8601'>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock"><circle cx="12" cy="12" r="10"/><polyline points="12 6 12 12 16 14"/></svg> <data:post.date/>
        </time>
      </b:if>
    </div>
  </b:if>
</header>
<%# Post header#END _%>

<%# Post body#START _%>
<div class='post__body'>
  <data:post.body/>
</div>
<%# Post body#END _%>

<%# Post footer _%>
<footer class="post__footer">
  <%# Post comments _%>
  <b:include cond='data:view.isSingleItem' data='post' name='commentPicker' />
</footer>